

*, ::after, ::before {
  box-sizing: border-box;
}

@font-face{
	src: url(../fonts/OpenSans-Regular.ttf);
	font-family: opensans;
}

@font-face{
	src: url(../fonts/DancingScript-VariableFont_wght.ttf);
	font-family: dancingscript;
}

@font-face{
	src: url(../fonts/AmaticSC-Regular.ttf);
	font-family: amatic;
}

@font-face{
	src: url(../fonts/SpecialElite-Regular.ttf);
	font-family: specialelite;
}

@font-face{
	src: url(../fonts/Yellowtail-Regular.ttf);
	font-family: yellowtail;
}

@font-face{
	src: url(../fonts/Segoe-UI.ttf);
	font-family: segoe;
}

@font-face{
	src: url(../fonts/Segoe-UI-Bold.ttf);
	font-family: segoebold;
}

body{

	font-family: opensans;
	font-size: 16px;
	margin:0px;
	padding:0px;
	word-break: break-word;
	word-wrap: break-word;
}

		.item_class_0:hover{padding-left: 10px!important;padding-right: 10px!important;}
.class_1{

	width: 100vw;
	height: 100vh;
	background-color: rgb(136, 136, 136);
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 1px;
	background-image: url("	../images/manager-prioritizing-tasks-list_74855-5272.jpg"	);
	font-size: 15px;
	border: 1px solid rgb(206, 212, 218);
	
}

.class_2{

	width: 100%;
	max-width: 500px;
	margin: 30px auto 10px;
	padding: 20px;
	background-color: rgba(238, 238, 238, 0.557);
	text-align: center;
	border-radius: 10px;
	backdrop-filter: blur(5px);
	box-shadow: rgb(0, 0, 0) 16px 16px 50px;
	
}

.class_3{

	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
	
}

.class_4{

	padding-left: 0px;
	padding-right: 0px;
	font-family: tahoma;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 4px;
	max-height: 100px;
	min-height: 0%;
	margin: 25px;
	border: 1px solid rgb(0, 0, 0);
	box-shadow: rgb(0, 0, 0) 16px 1px 15px;
	
}

.class_5{

	display: flex;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 4px;
	align-items: center;
	background-color: rgb(247, 247, 247);
	box-shadow: rgb(0, 0, 0) 1px 15px 50px;
	border: 3px solid rgb(15, 38, 218);
	
}

.class_6{

	min-width: 50px;
	margin: 0.5rem 0.5rem 0.5rem 0px;
	display: inline-block;
	width: 119px;
	font-weight: bold;
	
}

.class_7{

	display: block;
	width: 100%;
	padding: 1em;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: rgb(33, 37, 41);
	background-color: rgb(255, 255, 255);
	background-clip: padding-box;
	border: 1px solid rgb(206, 212, 218);
	appearance: none;
	border-radius: 0.375rem;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	left: 601.317%;
	
}

.class_8{

	font-size: 16px;
	padding: 15px;
	border: 1px solid rgb(206, 212, 218);
	color: rgb(255, 255, 255);
	background-color: rgb(13, 110, 253);
	border-radius: 30px;
	margin: 0.25rem 0.125rem;
	cursor: pointer;
	width: 260px;
	box-shadow: rgb(0, 0, 0) 16px 16px 50px;
	
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 992px){

}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 576px){

}
